@charset "UTF-8";

.ColumnName {
    background: #a2a4af;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 3px #888888;
    margin : 10px 0px 15px 5px;
    border-left: 1px dotted black;
	border-right: 1px dotted black;
	}
.TableContent{
	 flex-grow : 1;
    overflow-y : scroll;
}
.tableborder{
	border-collapse:collapse;

}

 .rowborder{
         border-bottom: 1px groove black;
} 

.field{
	border-left: 1px dotted black;
	border-right: 1px dotted black;
}